<div ng-controller="detailCtrl">
    <nav class="navbar navbar-default" style="background-color: #fff">
        <div class="container-fluid text-center">
            <img src="img/logo/logo_ppdb.png" width="300px" style="padding: 10px 0px;">
        </div>
    </nav>
    <div class="container">
        <div class="row" >
            <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
                <div class="alert alert-success">
                    Selamat pendaftaran telah berhasil di simpan. CATAT atau DOWNLOAD formulir nomor pendafataran ini, untuk di gunakan Nomor ujian pada saat tes!
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Formulir Pendaftaran
                        <div class="pull-right">
                            <a class="btn btn-success btn-sm" style="margin-top: -5px" ng-click="print('kartu')"><i class="glyphicon glyphicon-print"></i> Print</a>
                            <a class="btn btn-warning btn-sm" style="margin-top: -5px" ng-click="printDiv('kartu')"><i class="glyphicon glyphicon-download-alt"></i> Download PDF</a>
                        </div>
                    </div>
                    <div class="panel-body" id="kartu" style="border: 1px solid #337ab7;">
                        <div class="row">
                            <div class="col-sm-12" >
                                <h1 class="text-center" style="font-size: 450%;font-weight: bold;color: #000;">{{isiData.no}}</h1>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Nama</label>
                            </div>
                            <div class="col-xs-7">
                                <span class="hidden-xs">:</span>
                                {{isiData.nama}}
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Tanggal Lahir</label>
                            </div>
                            <div class="col-xs-7">
                                <span class="hidden-xs">:</span>
                                {{isiData.kota_lahir}}, {{isiData.tanggal_lahir| date:'longDate'}}
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Gelombang</label>
                            </div>
                            <div class="col-xs-7">
                                <span class="hidden-xs">:</span>
                                {{isiData.gelombang}}
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Tanggal Tes</label>
                            </div>
                            <div class="col-xs-7">
                                <span class="hidden-xs">:</span>
                                {{isiData.tanggal_tes| date : 'mediumDate'}}
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Lokasi Tes</label>
                            </div>
                            <div class="col-xs-7">
                                <span class="hidden-xs">:</span>
                                {{isiData.lokasi_tes}}
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">
                                <label >Kelengkapan Pendaftaran</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ol style="list-style-type: none;padding-left: 0px">
                                    <li ng-repeat="vals in getDokumen">
                                        - {{vals.nama}}
                                    </li>
                                </ol>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
