<div ng-controller="frontendCtrl">
    <!--<nav class="navbar navbar-default" style="background-color: #fff">-->
    <!--<div class="container-fluid text-center">-->
    <!--<img src="img/logo/logo_ppdb.png" width="300px" style="padding: 10px 0px;">-->
    <!--</div>-->
    <!--</nav>-->

    <div id="formDaftar" ng-show="is_formDaftar">
        <div class="container-fluid">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-8 col-md-offset-2" style="margin-top: 10px;">
                    <form name="landaform" class="form-horizontal">
                        <div class="panel panel-success">
                            <div class="panel-heading" style="background-color: #009f61;color: #fff">
                                Diisi Oleh Ketua Rombongan
                            </div>
                            <div class="panel-body">
                                <h1>I. Ketua Regu</h1>
                                <div class="form-group"
                                     ng-class="{ 'has-error' : landaform.nama.$invalid && !landaform.nama.$pristine }">
                                    <label class="col-sm-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" name="nama" class="form-control" ng-model="form.nama"
                                               ng-minlength="2" ng-maxlength="100">
                                        <p ng-show="landaform.nama.$error.minlength" class="help-block">Nama Terlalu
                                            Pendek.</p>
                                        <p ng-show="landaform.nama.$error.maxlength" class="help-block">Nama Terlalu
                                            Panjang.</p>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{ 'has-error' : landaform.no_identitas.$invalid && !landaform.no_identitas.$pristine }">
                                    <label class="col-sm-3 control-label">No Identitas</label>
                                    <div class="col-md-9">
                                        <input type="text" name="no_identitas" class="form-control"
                                               ng-model="form.no_identitas" ng-minlength="2" ng-maxlength="100">
                                        <p ng-show="landaform.no_identitas.$error.minlength" class="help-block">No
                                            Identitas Terlalu Pendek.</p>
                                        <p ng-show="landaform.no_identitas.$error.maxlength" class="help-block">No
                                            Identitas Terlalu Panjang.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Alamat Lengkap</label>
                                    <div class="col-md-9">
                                        <textarea name="alamat" ng-model="form.alamat" class="form-control" rows="3"
                                                  required="" ng-maxlength="225" ng-minlength="2"></textarea>


                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{ 'has-error' : landaform.telepon.$invalid && !landaform.telepon.$pristine }">
                                    <label class="col-sm-3 control-label">No. Hp</label>
                                    <div class="col-md-5">
                                        <input type="text" name="telepon" class="form-control angka"
                                               ng-model="form.no_telp" ng-minlength="10" ng-maxlength="14"
                                               style="width: 150px;" required="">
                                        <p ng-show="landaform.telepon.$error.minlength" class="help-block">No. Hp
                                            Terlalu Pendek.</p>
                                        <p ng-show="landaform.telepon.$error.maxlength" class="help-block">No. Hp
                                            Terlalu Panjang.</p>
                                    </div>

                                </div>
                                <!-- <div class="form-group"
                                     ng-class="{ 'has-error' : landaform.no_telp_darurat1.$invalid && !landaform.no_telp_darurat1.$pristine }">
                                    <label class="col-sm-3 control-label">No. Hp Darurat 1 </label>
                                    <div class="col-md-9">
                                        <input type="text" name="no_telp_darurat1" class="form-control angka"
                                               ng-model="form.no_telp_darurat1" ng-minlength="10" ng-maxlength="14"
                                               style="width: 150px;" required="">
                                        <p ng-show="landaform.no_telp_darurat1.$error.minlength" class="help-block">No.
                                            Hp Darurat Terlalu Pendek.</p>
                                        <p ng-show="landaform.no_telp_darurat1.$error.maxlength" class="help-block">No.
                                            Hp Darurat Terlalu Panjang.</p>
                                    </div>
                                </div> -->
                                <!-- <div class="form-group"
                                     ng-class="{ 'has-error' : landaform.no_telp_darurat1.$invalid && !landaform.no_telp_darurat1.$pristine }">
                                    <label class="col-sm-3 control-label">Hubungan dengan No Darurat 1 </label>
                                    <div class="col-md-5">
                                      <select class="form-control" ng-model="form.hubungan_darurat_1" ng-disabled="is_view" >
                                          <option value="Orang Tua">Orang Tua</option>
                                          <option value="Teman">Teman</option>
                                          <option value="Saudara">Saudara</option>

                                      </select>
                                    </div>
                                </div> -->
                                <!-- <div class="form-group"
                                     ng-class="{ 'has-error' : landaform.no_telp_darurat2.$invalid && !landaform.no_telp_darurat2.$pristine }">
                                    <label class="col-sm-3 control-label">No. Hp Darurat 2 </label>
                                    <div class="col-md-9">
                                        <input type="text" name="no_telp_darurat2" class="form-control angka"
                                               ng-model="form.no_telp_darurat2" ng-minlength="10" ng-maxlength="14"
                                               style="width: 150px;" required="">
                                        <p ng-show="landaform.no_telp_darurat2.$error.minlength" class="help-block">No.
                                            Hp Darurat Terlalu Pendek.</p>
                                        <p ng-show="landaform.no_telp_darurat2.$error.maxlength" class="help-block">No.
                                            Hp Darurat Terlalu Panjang.</p>
                                    </div>
                                </div> -->
                                <!-- <div class="form-group">
                                    <label class="col-sm-3 control-label">Hubungan dengan No Darurat 2 </label>
                                    <div class="col-md-5">
                                      <select class="form-control" ng-model="form.hubungan_darurat_2" ng-disabled="is_view" >
                                          <option value="Orang Tua">Orang Tua</option>
                                          <option value="Teman">Teman</option>
                                          <option value="Saudara">Saudara</option>

                                      </select>
                                    </div>
                                </div> -->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : landaform.email.$invalid && !landaform.email.$pristine }">
                                    <label class="col-sm-3 control-label">Email</label>
                                    <div class="col-md-7">
                                        <input type="text" name="email" class="form-control" ng-model="form.email"
                                               ng-minlength="2" ng-maxlength="100">
                                        <p ng-show="landaform.email.$error.minlength" class="help-block">Email Terlalu
                                            Pendek.</p>
                                        <p ng-show="landaform.email.$error.maxlength" class="help-block">Email Terlalu
                                            Panjang.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Tanggal Naik</label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="visible-xs" style="margin-top: 5px;"></div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" style="height: 30px;" class="form-control"
                                                           datepicker-popup="dd MMMM yyyy" ng-model="form.tanggal_naik"
                                                           is-open="opened1" ng-click="open1($event);" required=""/>
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Tanggal Turun</label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="visible-xs" style="margin-top: 5px;"></div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" style="height: 30px;" class="form-control"
                                                           datepicker-popup="dd MMMM yyyy" ng-model="form.tanggal_turun"
                                                           is-open="opened2" ng-click="open2($event);" required=""/>
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Kewarganegaraan</label>
                                    <div class="col-sm-9">
                                        <div class="btn-group m-r">
                                            <label btn-radio="'Warga Negara Indonesia'" ng-change="cekWarga(1)"
                                                   class="btn btn-default" ng-model="form.kewarganegaraan" required="">
                                                Warga Negara Indonesia
                                            </label>
                                            <label btn-radio="'Warga Negara Asing'" ng-change="cekWarga(0)"
                                                   class="btn btn-default" ng-model="form.kewarganegaraan" required="">
                                                Warga Negara Asing
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Jalur Pendakian</label>
                                    <div class="col-md-5">
                                        <!--<div class="btn-group m-r">-->
                                        <select class="form-control" ng-model="form.jalur_pendakian" ng-disabled="is_view" >
                                            <option value="Sumber Brantas">Sumber Brantas</option>
                                            <option value="Lawang">Lawang</option>
                                            <option value="Tambaksari">Tambaksair</option>
                                            <option value="Tretes">Tretes</option>
                                            <option value="Kaliandra">Kaliandra</option>
                                            <option value="Watujengger">Watujengger</option>
                                            <option value="Gunung Pundak">Gunung Pundak</option>
                                        </select>
                                        <!--</div>-->

                                    </div>
                                </div>
                                <div style="padding: 5px 0px;">
                                    <hr style="border-top: 1px solid #dff0d8;"/>
                                </div>
                                <br>
                                <br>
                                <h1>II. Kontak Darurat</h1>
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                        <tr>
                                            <!-- <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                <button class="btn btn-success" ng-click="tambahAnggota()"
                                                        ng-disabled="is_view">
                                                    <i class="glyphicon glyphicon-plus">
                                                    </i>
                                                </button>
                                            </td> -->
                                            <th style="text-align: center; font-weight: bold;">
                                                Nama
                                            </th>
                                            <th style="text-align: center; font-weight: bold;">
                                                No HP
                                            </th>
                                            <th style="text-align: center; font-weight: bold;">
                                                Alamat
                                            </th>

                                            <th style="text-align: center; font-weight: bold;">
                                                Hubungan Keluarga
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="darurat in listDarurat">

                                            <td style="text-align: center;">
                                                <input class="form-control" ng-disabled="is_view" ng-model="darurat.nama">
                                                </input>
                                            </td>
                                            <td style="text-align: center;">
                                                <input class="form-control" ng-disabled="is_view" ng-model="darurat.no_hp">
                                                </input>
                                            </td>
                                            <td style="text-align: center;">
                                                <input class="form-control" ng-disabled="is_view" ng-model="darurat.alamat">
                                                </input>
                                            </td>
                                            <td style="text-align: center;">
                                              <select class="form-control" ng-model="darurat.hubungan" ng-disabled="is_view" >
                                                  <option value="Orang Tua">Orang Tua</option>
                                                  <option value="Teman">Teman</option>
                                                  <option value="Saudara">Saudara</option>

                                              </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                                <h1>III. Anggota</h1>
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                        <tr>
                                            <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                <button class="btn btn-success" ng-click="tambahAnggota()"
                                                        ng-disabled="is_view">
                                                    <i class="glyphicon glyphicon-plus">
                                                    </i>
                                                </button>
                                            </td>
                                            <th style="text-align: center; font-weight: bold;">
                                                Nama
                                            </th>
                                            <th style="text-align: center; font-weight: bold;">
                                                No Identitas
                                            </th>
                                            <th style="text-align: center; font-weight: bold;">
                                                Jenis Kelamin
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in listAnggota">
                                            <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                <button class="btn btn-danger" ng-click="hapusAnggota($index, detail.id)"
                                                        ng-disabled="is_view">
                                                    <i class="glyphicon glyphicon-remove">
                                                    </i>
                                                </button>
                                            </td>
                                            <td style="text-align: center;">
                                                <input class="form-control" ng-disabled="is_view" ng-model="data.nama">
                                                </input>
                                            </td>
                                            <td style="text-align: center;">
                                                <input class="form-control" ng-disabled="is_view" ng-model="data.no_identitas">
                                                </input>
                                            </td>
                                            <td style="text-align: center;">
                                                <div class="btn-group m-r">
                                                    <label btn-radio="'Laki-Laki'" ng-change="cekWarga(1)"
                                                           class="btn btn-default" ng-model="data.kelamin" required="">
                                                        Laki-Laki
                                                    </label>
                                                    <label btn-radio="'Perempuan'" ng-change="cekWarga(0)"
                                                           class="btn btn-default" ng-model="data.kelamin" required="">
                                                        Perempuan
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br/>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <h1>IV. Perlengkapan</h1>
                                <div class="form-group">

                                    <label class="col-sm-3 control-label">Tenda</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" ng-model="perlengkapan.tenda"
                                               ng-maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Sleeping Bags/Kantong Tidur</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control"
                                               ng-model="perlengkapan.kantung_tidur"  ng-maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Peralatan Masak + Bahan Bakar</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control"
                                               ng-model="perlengkapan.masak_bakar"  ng-maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ponco / Jas Hujan</label>
                                    <div class="col-md-3">
                                        <input type="text"  class="form-control"
                                               ng-model="perlengkapan.ponco"  ng-maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Senter, Alat Penerangan</label>
                                    <div class="col-md-3">
                                        <input type="text"  class="form-control"
                                               ng-model="perlengkapan.penerangan"  ng-maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Obat-obatan pribadi dan P3K</label>
                                    <div class="col-md-3">
                                        <input type="text"  class="form-control"
                                               ng-model="perlengkapan.p3k"  ng-maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Matras</label>
                                    <div class="col-md-3">
                                        <input type="text"  class="form-control"
                                               ng-model="perlengkapan.matras"  ng-maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Matras</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control"
                                               ng-model="perlengkapan.sampah"  ng-maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Jaket</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control"
                                               ng-model="perlengkapan.jaket"  ng-maxlength="100">
                                    </div>
                                </div>
                                <div style="padding: 5px 0px;">
                                    <hr style="border-top: 1px solid #dff0d8;"/>
                                </div>
                                <br>
                                <br>
                                <h1>V. Logistik</h1>

                                <table class="table table-striped b-t b-light">
                                    <thead>
                                        <tr>
                                            <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                <button class="btn btn-success" ng-click="tambahLogistik()"
                                                        ng-disabled="is_view">
                                                    <i class="glyphicon glyphicon-plus">
                                                    </i>
                                                </button>
                                            </td>
                                            <th style="text-align: center; font-weight: bold;">
                                                Minuman dan Makanan
                                            </th>
                                            <th style="text-align: center; font-weight: bold;">
                                                Jumlah
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="logistik in listLogistik">
                                            <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                <button class="btn btn-danger" ng-click="hapusLogistik($index, detail.id)"
                                                        ng-disabled="is_view">
                                                    <i class="glyphicon glyphicon-remove">
                                                    </i>
                                                </button>
                                            </td>
                                            <td style="text-align: center;">
                                                <input class="form-control" ng-disabled="is_view" ng-model="logistik.nama">
                                                </input>
                                            </td>
                                            <td style="text-align: center;">
                                                <input class="form-control" ng-disabled="is_view" ng-model="logistik.jumlah">
                                                </input>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br/>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="http://localhost/perhutani/" class="btn btn-default">
                                <i class="fa fa-fw fa-mail-forward m-r-xs"></i> Kembali ke Halaman Utama
                            </a>
                            <button type="submit" class="btn btn-success" ng-disabled="landaform.$invalid"
                                    ng-click="save(form, listAnggota, perlengkapan, listLogistik,listDarurat)">Daftar Sekarang
                            </button>

                        </div>


                </div>

                </form>

            </div>
        </div>
    </div>
</div>


</div>
